{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="mainbanner">
    <div class="jumbotron">
        <h1 class="display-4 text-primary">
            Dedicated to Your Well-Being.
        </h1>

        <p class="lead">
            Comprehensive healthcare for you and your family—expert doctors,
            advanced treatments, preventive care, diagnostics, and seamless
            online appointments, all under one trusted platform.
        </p>

        <hr>

        <p>
            Expert care for your complete health journey.
        </p>

        <a class="btn btn-primary rounded btn-lg" href="#">
            Get Appointment
        </a>
    </div>
</div>
{% endblock %}
