# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/

# VS Code
.vscode/

# Environment Variables
.env

# macOS
.DS_Store

# Logs
*.log

#StaticFiles
.staticfiles/