{% extends 'layouts/dashboard_base.html' %}
{% load static %}

{% block content %}

<div class="dashboard-wrapper">

    {% include 'includes/dashboard_sidebar.html' %}
    <!-- Main Content -->
    <main class="dashboard-content">
        {% include 'includes/dashboard_topbar.html' %}
        <div class="dashboard-header">

            <h2>
                Today's Overview
            </h2>

            <p>
                Track Your Appointments and Health Records.
            </p>

        </div>
        <section class="dashboard-summary">

    <div class="row">

        <!-- Upcoming Appointments -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">

            <div class="card summary-card">

                <div class="card-body">

                    <div class="summary-icon">

                        <i class="fas fa-calendar-check"></i>

                    </div>

                    <h2 class="summary-number">{{ total_appointments }}</h2>

                    <h5 class="summary-title">
                        Total Appointments
                    </h5>

                    <p class="summary-text">
                        Next visit on Monday
                    </p>

                </div>

            </div>

        </div>

        

        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">

            <div class="card summary-card">

                <div class="card-body">

                    <div class="summary-icon">

                        <i class="fas fa-user-md"></i>

                    </div>

                    <h2 class="summary-number">{{ confirmed_appointments }}</h2>

                    <h5 class="summary-title">
                        Confirmed Appointments
                    </h5>

                    <p class="summary-text">
                        
                    </p>

                </div>

            </div>

        </div>

        <!-- Prescriptions -->

        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">

            <div class="card summary-card">

                <div class="card-body">

                    <div class="summary-icon">

                        <i class="fas fa-prescription-bottle-alt"></i>

                    </div>

                    <h2 class="summary-number">{{ pending_appointments }}</h2>

                    <h5 class="summary-title">
                        Pending Appointments
                    </h5>

                    <p class="summary-text">
                        Active Medicines
                    </p>

                </div>

            </div>

        </div>

        <!-- Medical Records -->

        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">

            <div class="card summary-card">

                <div class="card-body">

                    <div class="summary-icon">

                        <i class="fas fa-file-medical"></i>

                    </div>

                    <h2 class="summary-number">{{ cancelled_appointments }}</h2>

                    <h5 class="summary-title">
                        Cancelled Appointments
                    </h5>

                    <p class="summary-text">
                        Updated Yesterday
                    </p>

                </div>

            </div>

        </div>

    </div>

</section>

        <!-- ==========================
     Upcoming Appointments
========================== -->

<section class="appointments-section">

    <div class="card appointment-card">

        <!-- Card Header -->

        <div class="appointment-header">

            <div class="d-flex align-items-center">

                <i class="fas fa-calendar-check mr-2 text-primary"></i>

                <h4 class="mb-0">
                    Upcoming Appointments
                </h4>

            </div>

            <a href="#" class="btn btn-outline-primary btn-sm">

                View All

            </a>

        </div>

        <!-- Appointment Table -->

        <div class="table-responsive">

            <table class="table table-hover mb-0">

                <tbody>
                    {% for appointment in upcoming_appointments %}

                    <tr>

                        <td>
                            {{ appointment.doctor }}
                        </td>

                        <td>
                            {{ appointment.department }}
                        </td>

                        <td>
                            {{ appointment.appointment_date }}
                        </td>

                        <td>
                            {{ appointment.appointment_time }}
                        </td>

                        <td>

                            <span class="badge badge-warning">

                           {{ appointment.status }}

                            </span>

                        </td>

                        <td>

                            <a href="#" class="btn btn-sm btn-primary">

                                View

                            </a>

                        </td>

                        </tr>

                            {% empty %}

                        <tr>

                            <td colspan="6" class="text-center">

                            No appointments found

                            </td>

                        </tr>

                        {% endfor %}

                    
                </tbody>

            </table>

        </div>

    </div>

</section>
    </main>
    

</div>

{% endblock %}