/* ==========================================
   Services Hero
========================================== */

.servicespage-hero{

    height:420px;

    display:flex;

    align-items:center;

    justify-content:center;

    text-align:center;

    background:
        linear-gradient(
            rgba(11,31,58,.78),
            rgba(11,31,58,.78)
        ),
        url("../../images/services/services-banner.jpg");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    color:#ffffff;

}

.servicespage-hero-content{

    margin-top:60px;

}

.servicespage-hero span{

    display:inline-block;

    font-size:15px;

    font-weight:700;

    letter-spacing:4px;

    color:#6bb8ff;

    margin-bottom:18px;

}

.servicespage-hero h1{

    font-size:55px;

    font-weight:700;

    margin-bottom:25px;

}

.servicespage-hero p{

    max-width:760px;

    margin:auto;

    color:#e9ecef;

    font-size:19px;

    line-height:1.9;

}

.servicespage-hero nav{

    margin-top:35px;

}

.servicespage-hero nav a{

    color:white;

    text-decoration:none;

}

.servicespage-hero nav a:hover{

    color:#0d6efd;

}

.servicespage-hero nav span{

    margin:0 10px;

    color:white;

}

.servicespage-hero nav strong{

    color:#6bb8ff;

}
