{% extends "layouts/admin_dashboard_base.html" %}


{% block title %}
Department Details
{% endblock %}



{% block content %}


<div class="adminpanel-department-detail">



<div class="adminpanel-page-header">


<div>

<h2>
{{ department_name }}
</h2>


<p>
Doctors available in this department.
</p>


</div>


</div>




<div class="adminpanel-mini-stats">


<div class="adminpanel-mini-card">

<h3>

{{ total_doctors }}

</h3>


<span>

Total Doctors

</span>


</div>


</div>






<div class="adminpanel-table-card">


<div class="table-responsive">


<table class="adminpanel-table">


<thead>

<tr>

<th>
Doctor ID
</th>


<th>
Doctor Name
</th>


<th>
Experience
</th>


<th>
Status
</th>


<th>
Action
</th>


</tr>


</thead>



<tbody>


{% for doctor in doctors %}


<tr>


<td>

{{ doctor.doctor_id }}

</td>



<td>

Dr.
{{ doctor.user.get_full_name }}

</td>



<td>

{{ doctor.experience }} Years

</td>




<td>


{% if doctor.available %}


<span class="adminpanel-status-active">

Available

</span>


{% else %}


<span class="adminpanel-status-inactive">

Unavailable

</span>


{% endif %}


</td>




<td>


<a
href="{% url 'admin_doctor_detail' doctor.id %}"
class="adminpanel-view-btn">


<i class="fas fa-eye"></i>


</a>


</td>



</tr>


{% empty %}


<tr>

<td colspan="5">

No doctors found.

</td>

</tr>


{% endfor %}


</tbody>



</table>


</div>


</div>




</div>


{% endblock %}